<header class="site-header" role="banner">
    <div class="site-header__bar">
        {% if is_front_page %}<h1>{% else %}<span>{% endif %}
            <a href="/">Lumberjack WordPress Starter Theme</a>
        {% if is_front_page %}</h1>{% else %}</span>{% endif %}
    </div>
    <nav role="navigation">
        <ul class="page-list">
            {% for item in menu.get_items %}
            <li class="page-list__item {{ item.classes|join(' ') }}">
                <a class="page-list__link" href="{{ item.link }}">{{ item.title }}</a>

                {% if item.children %}
                    <ul class="page-list">
                        {% for subItem in item.children %}
                            <li class="page-list__item {{ subItem.classes|join(' ') }}">
                                <a class="page-list__link" href="{{ subItem.link }}">{{ subItem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
